@import "vars";

body {
	font-family: "Author", sans-serif;
	font-weight: 400;
}

.section {
	&__title {
		font-style: normal;
		font-weight: 500;
		font-size: 50px;
		line-height: 56px;
		color: $blue;
	}
	&__text {
		color: $gray;
		line-height: 22px;
		font-size: 20px;
		font-style: normal;
		max-width: 600px;
	}
}

.btn {
	background-color: $red;
	padding: 18px 48px;
	display: inline-flex;
	align-items: center;
	gap: 40px;
	font-weight: 500;
	font-size: 22px;
	line-height: 24px;
	color: $white;
	max-width: fit-content;
	svg {
		transition: 0.3s all ease;
	}
	&:hover {
		background-color: rgb(192, 5, 5);
		svg {
			transform: translate(10px);
		}
	}
}
main {
	padding: 50px 200px;
}
.logo {
	padding-bottom: 89px;
	display: flex;
}
.btn__outline {
	padding: 18px 48px;
	border: 1px solid $lightgray;
	font-size: 22px;
	line-height: 24px;
	font-weight: 500;
	color: $blue;
	background: $white;
	&:hover {
		background-color: $blue;
		color: $white;
	}
}
